* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header-container {
  margin: 30px 30px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 3px solid black;
}

.navbar ul {
  display: flex;
  font-size: 16px;
  gap: 5vw;
  list-style: none;
}

.navbar ul li {
  cursor: pointer;
}
.container {
  margin-top: 40px;
  display: flex;
  gap: 30vw;
  justify-content: space-between;
  width: 90vw;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}
.invoice-details input {
  width: 20vw;
}
.invoice-details textarea {
  width: 20vw;
  resize: none;
}
.date-invoice-gst
{
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center; 
}

th {
  background-color: #f2f2f2; 
  font-weight: bold; 
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tr:hover {
  background-color: #f1f1f1; 
}