body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

h2 {
  color: #fff;
  cursor: pointer;
}

.header-container {
  padding: 20px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
}

/* Input Fields */
input[type="text"],
input[type="number"],
input[type="phone"],
input[type="email"],
input[type="date"],
textarea {
  background-color: #4d4d4d;
  color: #fff;
  border: 1px solid #666;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #bbb;
}

input[readonly] {
  background-color: #333;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.card {
  background-color: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.total-amount {
  color: #fff;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 8px;
  text-align: right;
  padding-right: 40px;
}

.total-amount p {
  margin: 5px 0;
}

.total-amount span {
  margin-left: 50px;
}

.total-amount b {
  font-size: 18px;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #1a1a1a;
  margin-bottom: 10px;
  border-radius: 8px;
  gap: 10px;
}

.input-group {
  width: calc(48% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

#remove-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.client-invoice-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

.preview-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.preview-heading a {
  text-decoration: none;
  color: #fff;
}

.btn-div {
  text-align: center;
}

.date-invoice-gst {
  padding: 20px;
}

#add-btn {
  margin: 10px;
}

.invoice-preview {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  padding-bottom: 300px;
  min-height: 1100px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}
.header p {
  margin-bottom: 5px;
}

.invoice-preview h2 {
  color: #000;
}

.invoice {
  text-align: center;
}
.invoice h3 {
  text-decoration: underline;
  margin-top: -10px;
}

.invoice p {
  font-size: 12px;
}

.phone-email {
  text-align: right;
}

.header h2 {
  margin-bottom: 15px;
}
.header p {
  font-size: 12px;
}

.invoice-preview .invoice-details {
  text-align: left;
}

.client-info,
.invoice-details {
  margin-bottom: 20px;
}

.invoice-preview h2 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 0;
}

.invoice-preview h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.invoice-preview p {
  margin: 0;
}
.item-input-table {
  padding: 15px;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto;
}

.item-table th,
.item-table td {
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
  font-size: 12px;
}

.item-table th {
  background-color: #fff;
  color: #000;
}

.table-cell {
  word-wrap: break-word;
  white-space: normal;
  min-width: max-content;
}
.totals {
  flex-basis: 100%;
  text-align: end;
}
.totals p {
  margin: 2px 2px 0 3px;
  font-size: 14px;
}

.totals b {
  font-size: 14px;
}
.gst-amount {
  font-size: 14px;
  flex-basis: 100%;
  text-align: end;
}

.terms {
  font-size: 12px;
  font-weight: 700;
}

.totals-bank-details {
  display: flex;
  justify-content: space-between;
}

.bank-details {
  flex-basis: 100%;
}

.bank-details p {
  font-size: 14px;
}

.terms-signatures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.terms {
  width: 40%;
  padding: 8px 0 0 3px;
}
.terms p {
  text-align: center;
}

.terms ol {
  margin-block-start: 0;
  padding-inline-start: 14px;
}

.signatures {
  font-size: 10px;
}

.receiver-signatures {
  font-size: 10px;
  margin-top: 74px;
  width: 20%;
}

.authorized {
  margin-top: 50px !important;
  text-align: center;
}

.text-center {
  text-align: center;
}

.bank-details .words {
  margin-bottom: 20px;
}

.bank-details ul
{
  margin-block-start: 0;
  padding-inline-start: 16px;
  font-size: 12px;
}